*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    }
  .each{
    border-radius : 10px;
    border-color: rgb(92, 92, 235) ;
    margin: 20px;
    padding: 10px;
    background-color: aquamarine;
    
  }  
  form{
    background-color: bisque;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    
  }